* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: yellowgreen;
  height: 1000vh;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1;
}
.header2 {
  background-color: rgb(205, 169, 50);
  height: 1000vh;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1;
}
.header3 {
  background-color: rgb(50, 148, 205);
  height: 1000vh;
  width: 100%;
  grid-column: 3/4;
  grid-row: 1;
}
body {
  display: grid;
  grid-template-columns: 110px 1425px 145px;
  grid-template-rows: minmax(10vh, auto);
}
